[Unit]
Description={{ description }}

[Service]
Restart=always
RestartSec=2
RuntimeMaxSec=86400

{% for k, v in env.items() -%}
Environment={{ k }}={{ v }}
{%- endfor %}

WorkingDirectory={{ HOME }}

ExecStartPre=/bin/mkdir -p {{ LOGGING_DIR }}
ExecStart=/bin/bash -c 'exec \
  {{ GUNICORN_CMD }} {{ WSGI_MODULE }}:application --bind unix:/run/{{ SOCKET_NAME }} --config {{ GUNICORN_CONFIG_PATH }} \
  >> {{ LOGGING_DIR }}/{{ SERVICE }}.{{ CONFIG }}.log \
  2>&1'

[Install]
WantedBy=multi-user.target
